
<div class='container' data-id= "<%= surveys.ID %>" data-model="surveys" >


	<h2 class="form-signin-heading" style="margin-top:0px">Welcome to Surveys of <%= surveys.Title %></h2>
	<h4 class="form-signin-heading" style="margin-top:0px"> <%= surveys.Discription %></h2>

 		

 	<li><a href="/SurveyQuestions/ViewQuestions/">Survey Details</a>
          
            

</div>
		
	